/* Style Sheet for logimage */
.cols, .rows, .center {
    padding: 0px;
}
.hints {
}
.hint {
    border-color: black;
    border: solid;
    border-width: 1px;
    display: flex;
    box-sizing: border-box;
    margin-bottom: -1px;
    margin-left: -1px;
}
.cols .hint {
    display: inline-block;    
    width: 18px;
}
.rows .hint {
    text-align: right;
    height: 18px;
}
.rows .number {
    display: inline-block;
}
.number {
    width: 18px;
    text-align: center;
    height: 18px;
}
.line {
    margin-bottom:  -1px;
    display:  flex;
}
.cell {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-color: black;
    border: solid;
    border-width: 1px;
    text-align: center;
    margin-left: -1px;
    box-sizing: border-box;
}
.line.gras .cell {
    border-bottom-width: 2px;    
}
.box {
    background-color: black
}
.space {
    /*background-color: lightgrey;*/
    background: radial-gradient( circle at center, grey 25%, white 10% );
}
.box.new {
    background-color: red
}
.space.new {
    background: radial-gradient( circle at center, red 25%, white 10% );
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
.logimage {
    
}
.menu {
    
}